TYPE=Ethernet
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=no
NAME="{{ device }}"
ONBOOT=yes
IPADDR="{{ lan_ip }}"
prefix="{{ prefix }}"
GATEWAY="{{ gateway }}"
DNS1="{{ name_server }}"
DOMAIN="{{ domain }}"